# ignore composer dependencies
/vendor/
composer.phar

# ignore testdata with credentials
/tests/Integration/testdata.ini
/tests/Integration/integration.ini
# ignore ide configuration
.idea/

# ignore phpunit-cache
.phpunit.result.cache

# ignore php-cs-fixer cache
.php-cs-fixer.cache

# ignore log-files
*.log

/http-dump
/nbproject/private/
