parameters:
    level: 5
    paths:
        - src
        - tests
        - docs
    ignoreErrors:
        -
            message: '#Method [a-zA-Z0-9\\_]+::where\(\) should return#'
            path: src/Models
        -
            message: '#Method [a-zA-Z0-9\\_]+::orderBy\(\) should return#'
            path: src/Requests
            path: src/Models

        - '#Parameter \#2 \$level of class Monolog\\Handler\\StreamHandler constructor expects#'