name: Doc-Generator

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup PHP8.0
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'

    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress

    - name: Composer dump-autoload to load all files
      run: composer dump-autoload

    - name: Generate Docs
      run: composer run-script docs-generator

    - name: Check if Docs are already generated
        uses: tj-actions/verify-changed-files@v8.8
        id: verify-changed-files
        with:
          files: |
            docs

    - name: Run step only when files change.
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          core.setFailed('Inconsistent Docs. Please run DocGenerator and check in changed Files.')