name: Integration-Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup PHP8.1
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress

    - name: Composer dump-autoload to load all files
      run: composer dump-autoload

    - name: Create integration-config file
      run: |
        printf "$INTEGRATION_CONFIG" >> tests/Integration/integration.ini
        printf "$INTEGRATION_CONFIG"
        cat tests/Integration/integration.ini
      shell: bash
      env:
        INTEGRATION_CONFIG: ${{ secrets.INTEGRATION_CONFIG }}

    - name: Run integration test suite
      run: composer run-script test-integration